In [1]:
# Import setup & df_display_helpers
from setup.setup import *
from datagrid_and_value_box_helpers import *

In [2]:
# Load and clean cdl data
cdlDF = load_and_clean_cdl_data()
cdlDF

c:\Users\David Harler Jr\OneDrive\Desktop\dataClass\06-cod-analysis\2024.04.10 CDL PrizePicks Betting\cdl_prizepicks_betting\cdl-betting-app-v02\setup\setup.py:39: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  cdlDF = sqlio.read_sql_query("SELECT * FROM cdl_data", conn)

,match_id,match_date,match_day,player,team,map_num,map_name,gamemode,kills,deaths,...,series_result,map_wl,team_abbr,team_icon,opp,opp_abbr,opp_score,total_score,score_diff,dummy_x
0,27193,2023-12-08,Friday,aBeZy,Atlanta FaZe,1,Karachi,Hardpoint,24,24,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
1,27193,2023-12-08,Friday,Cellium,Atlanta FaZe,1,Karachi,Hardpoint,21,19,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
2,27193,2023-12-08,Friday,Drazah,Atlanta FaZe,1,Karachi,Hardpoint,25,22,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
3,27193,2023-12-08,Friday,Simp,Atlanta FaZe,1,Karachi,Hardpoint,33,23,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
4,27193,2023-12-08,Friday,Capsidal,Boston Breach,1,Karachi,Hardpoint,24,26,...,0,L,BOS,Breach,Atlanta FaZe,ATL,250,488,-12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4011,27284,2024-04-14,Sunday,Simp,Atlanta FaZe,4,Rio,Hardpoint,26,28,...,1,W,ATL,FaZe,OpTic Texas,TX,241,491,9,0
4012,27284,2024-04-14,Sunday,Dashy,OpTic Texas,4,Rio,Hardpoint,25,23,...,0,L,TX,OpTic,Atlanta FaZe,ATL,250,491,-9,0
4013,27284,2024-04-14,Sunday,Kenny,OpTic Texas,4,Rio,Hardpoint,27,26,...,0,L,TX,OpTic,Atlanta FaZe,ATL,250,491,-9,0
4014,27284,2024-04-14,Sunday,Pred,OpTic Texas,4,Rio,Hardpoint,21,25,...,0,L,TX,OpTic,Atlanta FaZe,ATL,250,491,-9,0
4015,27284,2024-04-14,Sunday,Shotzzy,OpTic Texas,4,Rio,Hardpoint,29,29,...,0,L,TX,OpTic,Atlanta FaZe,ATL,250,491,-9,0

In [8]:
# Build series score diffs
series_score_diffs = build_series_summaries(cdlDF)
series_score_diffs

,match_id,team,team_abbr,map_wins,map_losses,series_score_diff,match_date,opp
0,27193,Atlanta FaZe,ATL,3,2,1,2023-12-08,BOS
1,27193,Boston Breach,BOS,2,3,-1,2023-12-08,ATL
2,27194,Los Angeles Thieves,LAT,1,3,-2,2023-12-08,SEA
3,27194,Seattle Surge,SEA,3,1,2,2023-12-08,LAT
4,27195,New York Subliners,NYSL,3,2,1,2023-12-08,TX
...,...,...,...,...,...,...,...,...
251,27282,Seattle Surge,SEA,3,2,1,2024-04-14,CAR
252,27283,Las Vegas Legion,LV,2,3,-1,2024-04-14,LAT
253,27283,Los Angeles Thieves,LAT,3,2,1,2024-04-14,LV
254,27284,Atlanta FaZe,ATL,3,1,2,2024-04-14,TX
255,27284,OpTic Texas,TX,1,3,-2,2024-04-14,ATL

In [3]:
# Filter maps 
cdlDF = filter_maps(cdlDF)
cdlDF

,match_id,match_date,match_day,player,team,map_num,map_name,gamemode,kills,deaths,...,series_result,map_wl,team_abbr,team_icon,opp,opp_abbr,opp_score,total_score,score_diff,dummy_x
0,27193,2023-12-08,Friday,aBeZy,Atlanta FaZe,1,Karachi,Hardpoint,24,24,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
1,27193,2023-12-08,Friday,Cellium,Atlanta FaZe,1,Karachi,Hardpoint,21,19,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
2,27193,2023-12-08,Friday,Drazah,Atlanta FaZe,1,Karachi,Hardpoint,25,22,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
3,27193,2023-12-08,Friday,Simp,Atlanta FaZe,1,Karachi,Hardpoint,33,23,...,1,W,ATL,FaZe,Boston Breach,BOS,238,488,12,0
4,27193,2023-12-08,Friday,Capsidal,Boston Breach,1,Karachi,Hardpoint,24,26,...,0,L,BOS,Breach,Atlanta FaZe,ATL,250,488,-12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2907,27284,2024-04-14,Sunday,Simp,Atlanta FaZe,4,Rio,Hardpoint,26,28,...,1,W,ATL,FaZe,OpTic Texas,TX,241,491,9,0
2908,27284,2024-04-14,Sunday,Dashy,OpTic Texas,4,Rio,Hardpoint,25,23,...,0,L,TX,OpTic,Atlanta FaZe,ATL,250,491,-9,0
2909,27284,2024-04-14,Sunday,Kenny,OpTic Texas,4,Rio,Hardpoint,27,26,...,0,L,TX,OpTic,Atlanta FaZe,ATL,250,491,-9,0
2910,27284,2024-04-14,Sunday,Pred,OpTic Texas,4,Rio,Hardpoint,21,25,...,0,L,TX,OpTic,Atlanta FaZe,ATL,250,491,-9,0
2911,27284,2024-04-14,Sunday,Shotzzy,OpTic Texas,4,Rio,Hardpoint,29,29,...,0,L,TX,OpTic,Atlanta FaZe,ATL,250,491,-9,0

In [4]:
# Get all possible map & mode combos
map_and_mode_combos = filter_maps(cdlDF)[["gamemode", "map_name"]].drop_duplicates().sort_values(["gamemode", "map_name"]).reset_index(drop = True)
map_and_mode_combos

            gamemode  map_name
0          Hardpoint    6 Star
1          Hardpoint   Karachi
2          Hardpoint       Rio
3          Hardpoint  Sub Base
4          Hardpoint     Vista
5   Search & Destroy    6 Star
6   Search & Destroy  Highrise
7   Search & Destroy  Invasion
8   Search & Destroy   Karachi
9   Search & Destroy       Rio
10           Control  Highrise
11           Control  Invasion
12           Control   Karachi

In [7]:
# Test Compute H2H Map Record for all Map & Mode Combos
for index, row in map_and_mode_combos.iterrows():
    print(
        compute_h2h_map_record(
            cdlDF, 
            "Carolina Royal Ravens", 
            "Las Vegas Legion", 
            row["gamemode"], 
            row["map_name"]
        ) + \
        "    " + row["map_name"] + " " + row["gamemode"]
    )

0 - 0    6 Star Hardpoint
1 - 0    Karachi Hardpoint
0 - 1    Rio Hardpoint
0 - 0    Sub Base Hardpoint
0 - 0    Vista Hardpoint
0 - 0    6 Star Search & Destroy
0 - 1    Highrise Search & Destroy
2 - 0    Invasion Search & Destroy
1 - 0    Karachi Search & Destroy
0 - 0    Rio Search & Destroy
0 - 0    Highrise Control
1 - 0    Invasion Control
1 - 1    Karachi Control

In [8]:
# Test Compute H2H Map Record for all Map & Mode Combos
for index, row in map_and_mode_combos.iterrows():
    print(
        compute_h2h_map_record(
            cdlDF, 
            "Las Vegas Legion", 
            "Carolina Royal Ravens", 
            row["gamemode"], 
            row["map_name"]
        ) + \
        "    " + row["map_name"] + " " + row["gamemode"]
    )

0 - 0    6 Star Hardpoint
0 - 1    Karachi Hardpoint
1 - 0    Rio Hardpoint
0 - 0    Sub Base Hardpoint
0 - 0    Vista Hardpoint
0 - 0    6 Star Search & Destroy
1 - 0    Highrise Search & Destroy
0 - 2    Invasion Search & Destroy
0 - 1    Karachi Search & Destroy
0 - 0    Rio Search & Destroy
0 - 0    Highrise Control
0 - 1    Invasion Control
1 - 1    Karachi Control

In [9]:
# Test Compute H2H Map Record for each mode overall
all_gamemodes = ["Hardpoint", "Search & Destroy", "Control"]
for gamemode in all_gamemodes:
    print(
        compute_h2h_map_record(
            cdlDF, 
            "Carolina Royal Ravens", 
            "Las Vegas Legion", 
            gamemode
        ) + \
        "    " + gamemode
    )

1 - 1    Hardpoint
3 - 1    Search & Destroy
2 - 1    Control

In [10]:
# Test Compute Win Streak for all Map & Mode Combos
for index, row in map_and_mode_combos.iterrows():
    print(
        "Win Streak: " + str(
            compute_win_streak(
                cdlDF, 
                "Minnesota ROKKR",
                row["gamemode"], 
                row["map_name"]
            )
        ) + \
        "    " + row["map_name"] + " " + row["gamemode"]
    )

Win Streak: 0    6 Star Hardpoint
Win Streak: -1    Karachi Hardpoint
Win Streak: -3    Rio Hardpoint
Win Streak: -1    Sub Base Hardpoint
Win Streak: -1    Vista Hardpoint
Win Streak: 0    6 Star Search & Destroy
Win Streak: 1    Highrise Search & Destroy
Win Streak: 2    Invasion Search & Destroy
Win Streak: -6    Karachi Search & Destroy
Win Streak: -1    Rio Search & Destroy
Win Streak: -1    Highrise Control
Win Streak: -1    Invasion Control
Win Streak: -3    Karachi Control

In [11]:
player_over_under_percentage(cdlDF, "Shotzzy", "Hardpoint", 30)

('Under', '89')

In [4]:
player_over_under_percentage(cdlDF, "HyDra", "Search & Destroy", 12, "Rio")

('Never Played', 'Never Played')

In [13]:
over_under, percentage = player_over_under_percentage(cdlDF, "Accuracy", "Control", 21, "Invasion")
print(f"{over_under} {percentage}%")

Over 50%

In [14]:
# Test Compute H2H Series Record by Computing the H2H Series Record for each possible combination of teams

# Get teams
all_teams = sorted(cdlDF['team'].unique())

# Loop through teams
# for i in range(len(all_teams)):
#     if i != len(all_teams) - 1:
#         print(all_teams[i])
#         print("--------------------------")
#     for j in range(i + 1, len(all_teams)):
#         print(
#             f"{compute_h2h_series_record(cdlDF, all_teams[i], all_teams[j])} {all_teams[j]}"
#         )
#     if i != len(all_teams) - 1:
#         print("")

# Loop through all teams
for i in range(len(all_teams)):
    print(all_teams[i])
    print("--------------------------")
    for j in range(len(all_teams)):
        if i != j:
            print(
                f"{compute_h2h_series_record(cdlDF, all_teams[i], all_teams[j])} {all_teams[j]}"
            )
    print("")

Atlanta FaZe
--------------------------
2 - 0 Boston Breach
1 - 0 Carolina Royal Ravens
1 - 0 Las Vegas Legion
2 - 1 Los Angeles Guerrillas
3 - 0 Los Angeles Thieves
1 - 0 Miami Heretics
2 - 0 Minnesota ROKKR
1 - 1 New York Subliners
6 - 0 OpTic Texas
1 - 0 Seattle Surge
1 - 2 Toronto Ultra

Boston Breach
--------------------------
0 - 2 Atlanta FaZe
1 - 0 Carolina Royal Ravens
0 - 1 Las Vegas Legion
0 - 1 Los Angeles Guerrillas
0 - 1 Los Angeles Thieves
1 - 1 Miami Heretics
1 - 1 Minnesota ROKKR
0 - 3 New York Subliners
0 - 1 OpTic Texas
1 - 2 Seattle Surge
1 - 0 Toronto Ultra

Carolina Royal Ravens
--------------------------
0 - 1 Atlanta FaZe
0 - 1 Boston Breach
2 - 1 Las Vegas Legion
1 - 0 Los Angeles Guerrillas
0 - 1 Los Angeles Thieves
1 - 2 Miami Heretics
0 - 1 Minnesota ROKKR
1 - 2 New York Subliners
0 - 2 OpTic Texas
1 - 2 Seattle Surge
0 - 1 Toronto Ultra

Las Vegas Legion
--------------------------
0 - 1 Atlanta FaZe
1 - 0 Boston Breach
1 - 2 Carolina Royal Ravens
2 - 1 Los Angeles Guerrillas
0 - 2 Los Angeles Thieves
2 - 1 Miami Heretics
1 - 0 Minnesota ROKKR
0 - 1 New York Subliners
0 - 1 OpTic Texas
2 - 0 Seattle Surge
0 - 3 Toronto Ultra

Los Angeles Guerrillas
--------------------------
1 - 2 Atlanta FaZe
1 - 0 Boston Breach
0 - 1 Carolina Royal Ravens
1 - 2 Las Vegas Legion
3 - 1 Los Angeles Thieves
0 - 1 Miami Heretics
1 - 2 Minnesota ROKKR
0 - 2 New York Subliners
0 - 1 OpTic Texas
0 - 1 Seattle Surge
0 - 3 Toronto Ultra

Los Angeles Thieves
--------------------------
0 - 3 Atlanta FaZe
1 - 0 Boston Breach
1 - 0 Carolina Royal Ravens
2 - 0 Las Vegas Legion
1 - 3 Los Angeles Guerrillas
1 - 0 Miami Heretics
1 - 0 Minnesota ROKKR
0 - 1 New York Subliners
0 - 1 OpTic Texas
0 - 1 Seattle Surge
0 - 2 Toronto Ultra

Miami Heretics
--------------------------
0 - 1 Atlanta FaZe
1 - 1 Boston Breach
2 - 1 Carolina Royal Ravens
1 - 2 Las Vegas Legion
1 - 0 Los Angeles Guerrillas
0 - 1 Los Angeles Thieves
2 - 0 Minnesota ROKKR
0 - 1 New York Subliners
1 - 2 OpTic Texas
0 - 1 Seattle Surge
0 - 1 Toronto Ultra

Minnesota ROKKR
--------------------------
0 - 2 Atlanta FaZe
1 - 1 Boston Breach
1 - 0 Carolina Royal Ravens
0 - 1 Las Vegas Legion
2 - 1 Los Angeles Guerrillas
0 - 1 Los Angeles Thieves
0 - 2 Miami Heretics
1 - 2 New York Subliners
0 - 3 OpTic Texas
2 - 0 Seattle Surge
0 - 2 Toronto Ultra

New York Subliners
--------------------------
1 - 1 Atlanta FaZe
3 - 0 Boston Breach
2 - 1 Carolina Royal Ravens
1 - 0 Las Vegas Legion
2 - 0 Los Angeles Guerrillas
1 - 0 Los Angeles Thieves
1 - 0 Miami Heretics
2 - 1 Minnesota ROKKR
1 - 2 OpTic Texas
1 - 0 Seattle Surge
1 - 1 Toronto Ultra

OpTic Texas
--------------------------
0 - 6 Atlanta FaZe
1 - 0 Boston Breach
2 - 0 Carolina Royal Ravens
1 - 0 Las Vegas Legion
1 - 0 Los Angeles Guerrillas
1 - 0 Los Angeles Thieves
2 - 1 Miami Heretics
3 - 0 Minnesota ROKKR
2 - 1 New York Subliners
2 - 0 Seattle Surge
2 - 0 Toronto Ultra

Seattle Surge
--------------------------
0 - 1 Atlanta FaZe
2 - 1 Boston Breach
2 - 1 Carolina Royal Ravens
0 - 2 Las Vegas Legion
1 - 0 Los Angeles Guerrillas
1 - 0 Los Angeles Thieves
1 - 0 Miami Heretics
0 - 2 Minnesota ROKKR
0 - 1 New York Subliners
0 - 2 OpTic Texas
0 - 3 Toronto Ultra

Toronto Ultra
--------------------------
2 - 1 Atlanta FaZe
0 - 1 Boston Breach
1 - 0 Carolina Royal Ravens
3 - 0 Las Vegas Legion
3 - 0 Los Angeles Guerrillas
2 - 0 Los Angeles Thieves
1 - 0 Miami Heretics
2 - 0 Minnesota ROKKR
1 - 1 New York Subliners
0 - 2 OpTic Texas
3 - 0 Seattle Surge

In [11]:
build_series_res_datagrid(series_score_diffs, "OpTic Texas", "New York Subliners").head(10)

        Date  Match ID  Team  Map Wins  Map Losses Opponent
0 2023-12-08     27195  NYSL         3           2       TX
1 2023-12-08     27195    TX         2           3     NYSL
2 2023-12-10     27201  NYSL         3           2      LAG
3 2023-12-10     27203    TX         3           1      MIN
4 2023-12-15     27206    TX         3           1      SEA
5 2023-12-16     27208  NYSL         3           0       LV
6 2023-12-17     27211    TX         3           0      CAR
7 2024-01-12     27216  NYSL         3           1      MIN
8 2024-01-13     27220    TX         3           2       LV
9 2024-01-14     27223  NYSL         3           1      LAT

In [5]:
scoreboards = build_scoreboards(cdlDF, "Atlanta FaZe", "OpTic Texas", "Hardpoint")
scoreboards

,Date,Match ID,Map,Team,Player,Kills,Deaths,Margin,Opponent,Player,Kills,Deaths
0,2024-04-14,27284,6 Star,ATL,aBeZy,21,28,-43,TX,Dashy,33,21
1,2024-04-14,27284,6 Star,ATL,Cellium,24,21,-43,TX,Kenny,27,26
2,2024-04-14,27284,6 Star,ATL,Drazah,23,36,-43,TX,Pred,25,26
3,2024-04-14,27284,6 Star,ATL,Simp,33,23,-43,TX,Shotzzy,23,28
4,2024-04-14,27284,Rio,ATL,aBeZy,21,29,9,TX,Dashy,25,23
...,...,...,...,...,...,...,...,...,...,...,...,...
139,2023-12-08,27193,Karachi,ATL,Simp,33,23,12,BOS,Snoopy,22,30
140,2023-12-08,27195,Karachi,TX,Dashy,17,21,-97,NYSL,HyDra,29,16
141,2023-12-08,27195,Karachi,TX,Kenny,26,22,-97,NYSL,KiSMET,23,20
142,2023-12-08,27195,Karachi,TX,Pred,15,22,-97,NYSL,Sib,19,20
143,2023-12-08,27195,Karachi,TX,Shotzzy,16,22,-97,NYSL,Skyz,16,18

In [6]:
rostersDF = build_rosters(cdlDF)
rostersDF

         player                    team team_abbr
0         aBeZy            Atlanta FaZe       ATL
1       Cellium            Atlanta FaZe       ATL
2        Drazah            Atlanta FaZe       ATL
3          Simp            Atlanta FaZe       ATL
4         Beans           Boston Breach       BOS
5     Pentagrxm           Boston Breach       BOS
6     Priestahh           Boston Breach       BOS
7        Snoopy           Boston Breach       BOS
8      Clayster   Carolina Royal Ravens       CAR
9          FeLo   Carolina Royal Ravens       CAR
10        Gwinn   Carolina Royal Ravens       CAR
11       TJHaLy   Carolina Royal Ravens       CAR
12       Attach        Las Vegas Legion        LV
13          Gio        Las Vegas Legion        LV
14         Nero        Las Vegas Legion        LV
15      Assault  Los Angeles Guerrillas       LAG
16   Diamondcon  Los Angeles Guerrillas       LAG
17      Estreal  Los Angeles Guerrillas       LAG
18         Fame  Los Angeles Guerrillas       LAG
19       Ghosty     Los Angeles Thieves       LAT
20  JoeDeceives     Los Angeles Thieves       LAT
21        Kremp     Los Angeles Thieves       LAT
22       Nastie     Los Angeles Thieves       LAT
23        Lucky          Miami Heretics       MIA
24      MettalZ          Miami Heretics       MIA
25        ReeaL          Miami Heretics       MIA
26        Vikul          Miami Heretics       MIA
27     Accuracy         Minnesota ROKKR       MIN
28      Gunless         Minnesota ROKKR       MIN
29       Lyynnz         Minnesota ROKKR       MIN
30       Standy         Minnesota ROKKR       MIN
31        HyDra      New York Subliners      NYSL
32       KiSMET      New York Subliners      NYSL
33          Sib      New York Subliners      NYSL
34         Skyz      New York Subliners      NYSL
35        Dashy             OpTic Texas        TX
36        Kenny             OpTic Texas        TX
37         Pred             OpTic Texas        TX
38      Shotzzy             OpTic Texas        TX
39           04           Seattle Surge       SEA
40       Abuzah           Seattle Surge       SEA
41       Breszy           Seattle Surge       SEA
42         Huke           Seattle Surge       SEA
43       CleanX           Toronto Ultra       TOR
44        Envoy           Toronto Ultra       TOR
45      Insight           Toronto Ultra       TOR
46        Scrap           Toronto Ultra       TOR

In [3]:
def merge_player_props(old_props: pd.DataFrame, new_props: pd.DataFrame, rosters: pd.DataFrame):
    
    # Merge old props with new props
    new_props = pd.merge(
        old_props.copy(), 
        new_props.drop("team_abbr", axis=1), 
        on=['player', 'prop'], 
        how = "outer", 
        suffixes=('_initial', '_updated')
    )

    # Merge with rosters to get teams and team_abbrs
    new_props = pd.merge(
        new_props.drop(["team", "team_abbr"], axis = 1), 
        rosters.copy(), 
        on = "player", 
        how = "left"
    )

    # Fill in missing values from new_props with corresponding values from old_props
    new_props['line'] = new_props['line_updated'].fillna(new_props['line_initial'])

    # Drop the redundant columns
    new_props = new_props.drop(['line_initial', 'line_updated'], axis=1)

    # Add player_lower column for sorting
    new_props["player_lower"] = new_props['player'].str.lower()

    # Sort new_props by prop, team, and player_lower
    new_props = new_props.sort_values(by = ["prop", "team_abbr", "player_lower"])

    # Drop the player_lower column
    new_props = new_props.drop("player_lower", axis = 1)

    # Reset index & return
    new_props = new_props.reset_index(drop=True)
    return new_props

In [20]:
def build_intial_props(rostersDF_input):

    # Create a copy of rostersDF_input to avoid mutating the original
    queried_df = rostersDF_input.copy()

    # Initialize dataframe and build columns
    initial_player_props = pd.DataFrame()
    initial_player_props["player"] = queried_df["player"]
    initial_player_props["team"] = queried_df["team"]
    initial_player_props["team_abbr"] = queried_df["team_abbr"]
    initial_player_props["prop"] = 1
    initial_player_props["line"] = 22.0

    # Add more rows for props 2 & 3
    initial_player_props = pd.concat([initial_player_props, initial_player_props, initial_player_props])
    initial_player_props = initial_player_props.reset_index(drop = True)

    # Add props 2 & 3 and arbitrary lines
    initial_player_props.iloc[47:95, 3] = 2
    initial_player_props.iloc[47:95, 4] = 6.5
    initial_player_props.iloc[95:142, 3] = 3

    # Set type in to int
    initial_player_props["prop"] = initial_player_props["prop"].astype(int)

    # Sort
    initial_player_props["player_lower"] = initial_player_props['player'].str.lower()
    initial_player_props = initial_player_props.sort_values(by = ["prop", "team_abbr", "player_lower"])
    initial_player_props = initial_player_props.drop("player_lower", axis = 1)

    # Drop index & return
    initial_player_props = initial_player_props.reset_index(drop=True)
    return initial_player_props

In [64]:
initial_player_props = build_intial_props(rostersDF)
initial_player_props

      player           team team_abbr  prop  line
0      aBeZy   Atlanta FaZe       ATL     1  22.0
1    Cellium   Atlanta FaZe       ATL     1  22.0
2     Drazah   Atlanta FaZe       ATL     1  22.0
3       Simp   Atlanta FaZe       ATL     1  22.0
4      Beans  Boston Breach       BOS     1  22.0
..       ...            ...       ...   ...   ...
139  Insight  Toronto Ultra       TOR     3  22.0
140    Dashy    OpTic Texas        TX     3  22.0
141    Kenny    OpTic Texas        TX     3  22.0
142     Pred    OpTic Texas        TX     3  22.0
143  Shotzzy    OpTic Texas        TX     3  22.0

[144 rows x 5 columns]

In [45]:
pd.reset_option("display.max_rows")

In [11]:
from webscraper import *

In [12]:
player_props = scrape_prizepicks()

MAP 1 Kills
MAP 2 Kills
MAP 3 Kills

In [67]:
player_props

         player team_abbr  prop  line
0        Ghosty       LAT     1  24.0
1   JoeDeceives       LAT     1  24.5
2         Kremp       LAT     1  24.0
3        Nastie       LAT     1  23.5
4          Asim        LV     1  23.5
..          ...       ...   ...   ...
71         Huke       SEA     3  21.5
72       Ghosty       LAT     4  24.5
73  JoeDeceives       LAT     4  24.5
74        Kremp       LAT     4  24.5
75       Nastie       LAT     4  24.5

[76 rows x 4 columns]

In [61]:
# Add missing rows to initial player props for now
# New rows to append
more_props = [{'player': 'Ghosty', 'team_abbr': 'LAT', 'prop': 4, 'line': 24.5}, 
              {'player': 'JoeDeceives', 'team_abbr': 'LAT', 'prop': 4, 'line': 24.5}, 
              {'player': 'Kremp', 'team_abbr': 'LAT', 'prop': 4, 'line': 24.5}, 
              {'player': 'Nastie', 'team_abbr': 'LAT', 'prop': 4, 'line': 24.5}]

more_props_df = pd.DataFrame(more_props)

# Append the new rows to the dataframe
player_props = pd.concat([player_props, more_props_df], ignore_index=True)
player_props

         player team_abbr  prop  line
0        Ghosty       LAT     1  24.0
1   JoeDeceives       LAT     1  24.5
2         Kremp       LAT     1  24.0
3        Nastie       LAT     1  23.5
4          Asim        LV     1  23.5
..          ...       ...   ...   ...
71         Huke       SEA     3  21.5
72       Ghosty       LAT     4  24.5
73  JoeDeceives       LAT     4  24.5
74        Kremp       LAT     4  24.5
75       Nastie       LAT     4  24.5

[76 rows x 4 columns]

In [66]:
new_props = pd.merge(
    initial_player_props, 
    player_props.drop("team_abbr", axis=1), 
    on=['player', 'prop'], 
    how = "outer", 
    suffixes=('_initial', '_updated')
)

new_props

          player           team team_abbr  prop  line_initial  line_updated
0          aBeZy   Atlanta FaZe       ATL     1          22.0           NaN
1        Cellium   Atlanta FaZe       ATL     1          22.0           NaN
2         Drazah   Atlanta FaZe       ATL     1          22.0           NaN
3           Simp   Atlanta FaZe       ATL     1          22.0           NaN
4          Beans  Boston Breach       BOS     1          22.0           NaN
..           ...            ...       ...   ...           ...           ...
143      Shotzzy    OpTic Texas        TX     3          22.0          23.5
144       Ghosty            NaN       NaN     4           NaN          24.5
145  JoeDeceives            NaN       NaN     4           NaN          24.5
146        Kremp            NaN       NaN     4           NaN          24.5
147       Nastie            NaN       NaN     4           NaN          24.5

[148 rows x 6 columns]

In [68]:
# Merge with rosters to get teams and team_abbrs
new_props = pd.merge(
    new_props.drop(["team", "team_abbr"], axis = 1), 
    rostersDF.copy(), 
    on = "player", 
    how = "left"
)  

new_props

,player,prop,line_initial,line_updated,team,team_abbr
0,aBeZy,1,22.0,NaN,Atlanta FaZe,ATL
1,Cellium,1,22.0,NaN,Atlanta FaZe,ATL
2,Drazah,1,22.0,NaN,Atlanta FaZe,ATL
3,Simp,1,22.0,NaN,Atlanta FaZe,ATL
4,Beans,1,22.0,NaN,Boston Breach,BOS
...,...,...,...,...,...,...
143,Shotzzy,3,22.0,23.5,OpTic Texas,TX
144,Ghosty,4,NaN,24.5,Los Angeles Thieves,LAT
145,JoeDeceives,4,NaN,24.5,Los Angeles Thieves,LAT
146,Kremp,4,NaN,24.5,Los Angeles Thieves,LAT
147,Nastie,4,NaN,24.5,Los Angeles Thieves,LAT

In [69]:
new_props[new_props['line_updated'].notna()]

,player,prop,line_initial,line_updated,team,team_abbr
16,Ghosty,1,22.0,24.0,Los Angeles Thieves,LAT
17,JoeDeceives,1,22.0,24.5,Los Angeles Thieves,LAT
18,Kremp,1,22.0,24.0,Los Angeles Thieves,LAT
19,Nastie,1,22.0,23.5,Los Angeles Thieves,LAT
20,Asim,1,22.0,23.5,Las Vegas Legion,LV
...,...,...,...,...,...,...
143,Shotzzy,3,22.0,23.5,OpTic Texas,TX
144,Ghosty,4,NaN,24.5,Los Angeles Thieves,LAT
145,JoeDeceives,4,NaN,24.5,Los Angeles Thieves,LAT
146,Kremp,4,NaN,24.5,Los Angeles Thieves,LAT
147,Nastie,4,NaN,24.5,Los Angeles Thieves,LAT

In [70]:
new_props['line'] = new_props['line_updated'].fillna(new_props['line_initial'])

# Drop the redundant columns
new_props = new_props.drop(['line_initial', 'line_updated'], axis=1)

new_props

          player  prop                 team team_abbr  line
0          aBeZy     1         Atlanta FaZe       ATL  22.0
1        Cellium     1         Atlanta FaZe       ATL  22.0
2         Drazah     1         Atlanta FaZe       ATL  22.0
3           Simp     1         Atlanta FaZe       ATL  22.0
4          Beans     1        Boston Breach       BOS  22.0
..           ...   ...                  ...       ...   ...
143      Shotzzy     3          OpTic Texas        TX  23.5
144       Ghosty     4  Los Angeles Thieves       LAT  24.5
145  JoeDeceives     4  Los Angeles Thieves       LAT  24.5
146        Kremp     4  Los Angeles Thieves       LAT  24.5
147       Nastie     4  Los Angeles Thieves       LAT  24.5

[148 rows x 5 columns]